<div class="container-fluid page">
    <div class="page__box p:3 mt-2" style="position:fixed;width:1000px;padding-top:10px;min-height:50px"> 
    <B style="font-size:19px;text-align: center;padding-left: 430px;" class=" center">Dashboard</B></div>
    <div class="page__content shadow p-3 position-relative" style="padding-left:30px;padding-top:20px"></div>
        <div class="page__content-data position-absolute text-center"></div>
            <div class="next" style="
                padding-top: 100px;
                background-color:whitesmoke;
                margin-top: 80px;
                padding-left: 20px;
                width: 962px;
                padding-top: 20px;">
            
                <div class="revathi">
                <img src="./../../assets/woman2.jpg">
                </div>

                <!-- <button class="btn" (click)="goToVotes()">Check votes</button> -->
                <button type="button" class="but_on but_2" (click)="buttonclick()"  style="background-color:#228B22;font-size: 15px;"><i class="fa fa-plus"></i>Start Sell</button> <br>
                <button type="button" class="but_on but_2" (click)="buttonclick1()" style="background-color:#228B22;font-size: 15px"><i class="fa fa-plus"></i>Add Customer and Order Details</button>  <br> 
                <button type="button" class="but_on but_2" (click)="buttonclick2()" style="background-color: #228B22;font-size: 15px" ><i class="fa fa-plus"></i>Add Product Here</button>  <br> 
                <button type="button" class="but_on but_2" (click)="buttonclick3()"style="background-color: #228B22;font-size: 15px"><i class="fa fa-plus"></i>Customer Details</button>  <br> 
                <button type="button" class="but_on but_2" (click)="buttonclick4()" style="background-color:#228B22;font-size: 15px"><i class="fa fa-plus"></i>Product Report</button>  <br> 
                <button type="button" class="but_on but_2" (click)="buttonclick5()" style="background-color: #228B22;font-size: 15px"><i class="fa fa-plus"></i>All Companies Report</button>  <br> 
                <button type="button" class="but_on but_2" (click)="buttonclick6()" style="background-color: #228B22;font-size: 15px"><i class="fa fa-plus"></i>Add Orders Report</button>  <br> 
                <button type="button" class="but_on but_2" (click)="buttonclick7()" style="background-color: #228B22;font-size: 15px"><i class="fa fa-plus"></i>Categories Report</button>  <br> 
                <button type="button" class="but_on but_2" (click)="buttonclick9()" style="background-color: #228B22;font-size: 15px"><i class="fa fa-plus"></i>Log Out!</button>  <br> 

              <!-- <img src="./../../assets/images.png"> -->
       
        
    </div>
</div>