table {
    border-collapse: collapse;
    width: 100%;
  }
  
 td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #DDD;
    
  }
  
  tr:hover {background-color: #D6EEEE;}
  th{
    background-color:#232836;
    color:white;
    height:30px;
    text-align:left;
  }



  .mat-form-field{
    width:100%;
}

.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
  }
  
  .example-radio-button {
    margin: 5px;
  }
.right {
    float: right;
  }

  .but_on {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius:10px;
  }
  
  .but_2 {background-color: #008CBA;} 
  
  .next{
    float: right;
  }
  
 .revathi{
  background-color: white;
  border-radius: 10px;
  transition: 0.1s all ease-in-out;
      &:hover{
        //  color:whitesmoke;
        //  background-color:#2c3344;
         transform: scale(1.1);
     }
 }
 
 .sss{
  background-color:white;
  border-radius: 10px;
  transition: 0.1s all ease-in-out;
      &:hover{
        //  color:whitesmoke;
        //  background-color:#2c3344;
         transform: scale(1.1);
     }
 }
 .ss1{
// background-color: #008CBA;

 background-color:"white";

  border-radius: 10px;
  transition: 0.1s all ease-in-out;
      &:hover{
        //  color:whitesmoke;
        //  background-color:#2c3344;
         transform: scale(1.1);
     }
 }
 .button{
  background-color: skyblue;
  border-radius:10px;
  transition: 0.1s all ease-in-out;
  &:hover{
    //  color:whitesmoke;
    //  background-color:#2c3344;
     transform: scale(1.1);
 }


 }