<div class="container-fluid page">
    <div class="page__box p:3 mt-2">Add New Product</div>
    <div class="page__content shadow p-3 position-relative">
        <div class="page__content-data position-absolute text-center">
            <div class="container">
                <div class="title" >Fill the details</div>
                <br>
                <form action="#">
                    <div class="user-details">
                        <div class="input-box">
                            <span class="details" >Select Product Type</span>
                            <input type="text" placeholder="Enter Product Type" required>
                        </div>
                        <div class="input-box">
                            <span class="details" >Product Code</span>
                            <input type="text" placeholder="Enter Product Code" required>
                        </div>
                        <div class="input-box">
                            <span class="details" >Product title</span>
                            <input type="text" placeholder="enter Product title" required>
                        </div>
                        <div class="input-box">
                            <span class="details" >Total Stack</span>
                            <input type="number" placeholder="enter Total Stack " required>
                    </div>
                        <div class="input-box">
                            <span class="details" >cost per unit</span>
                            <input type="text" placeholder="enter cost per unit" required>
                        </div>
                        <div class="input-box">
                        <span class="details">select company</span>      
                        <select id="country"   placeholder="select company" name="country" class="form-control" style="height:50px;width:107%;border-radius:10px;background-color: white;">
                            <option value="ABB India">ABB India</option>
                            <option value="IA Engineering">IA Engineering</option>
                            <option value="BHEL">BHEL</option>
                            <option value="Bharat Elec">Bharat Elec</option>
                            <option value="Bharat Forge">Bharat Forge</option>
                            <option value="Carborundum">Carborundum</option>
                            <option value="Eigi Equipments">Eigi Equipments</option>
                            <option value="Finolex Cables">Finolex Cables</option>
                            <option value="Graphite India">Graphite India</option>
                            <option value="Grindwell Norto">Grindwell Norto</option>
                            <option value="Hindustan Aeron">Hindustan Aeron</option>
                            <option value="Finolex Cables">Finolex Cables</option>
                            <option value="Graphite India">Honeywell Autom</option>
                            <option value="KNR Construct">KNR Construct</option>
                            <option value="Lakshmi Construct">Lakshmi Construct</option>
                            <option value="Larsed">Larsed</option>
                            <option value="Polycab">Polycab</option>
                            <option value="Praj industries">Praj industries</option>
                            <option value="SKF India">SKF India</option>
                        </select>
                        </div>
                        <div class="input-box">
                            <span class="details">Expiry date</span> 
                            <input type="date" id="calender" name="calender" required >
                           
                        </div>
                        <div class="input-box">
                            <span class="details">Manufacture Date</span> 
                            <input type="date" id="calender" name="calender" required>
                        </div>
                        <div class="input-box">
                            <span class="details">Description</span>
                            <textarea rows="5" col="50" style="width:900px;height:90px"></textarea>
                        </div>
                        
                    </div>
                    <div class="input-box">
                        <input type="submit" value="Submit" style="background-color:green">
                    </div>
                       
                            
                    
                    
                </form>
            </div>


        </div>
    </div>
</div>