<mat-nav-list style="background-color: 	#228B22">
     <div class="logo">
        <!-- <img src="../../assets/Digi_Telecommunications_logo.svg.png" alt="company logo"/> -->
        <img alt="img"  src="./../../assets/google-logo-icon-illustration-free-vector.jpg" width="200px" height="150"/>
  </div>
    <mat-divider></mat-divider>
    <a mat-list-item routerLink="dshboard" routerLinkActive="list-item-active">
        <mat-icon >dashboard</mat-icon><p style="font-size:15px;">Dashboard</p>
        </a>
    

    <!-- <h2 matsubheader class="mt-2">DASHBOARD</h2> -->
    <a mat-list-item routerLink="/mydashboard"  routerLinkActive="list-item-active">
        <mat-icon>input</mat-icon><p style="font-size:15px;">Start sell</p>
        </a>
    <a mat-list-item routerLink="/home"  routerLinkActive="list-item-active">
        <mat-icon>account_box</mat-icon><p style="font-size:15px;">Add Customer & Order Details</p>
        </a>
    
    <a mat-list-item routerLink="/companyreport" routerLinkActive="list-item-active">
        <mat-icon>add_shopping_cart</mat-icon><p style="font-size:15px;">Add Product Here</p>
        </a>
        <a mat-list-item routerLink="/inlineone" routerLinkActive="list-item-active">
            <mat-icon> contacts</mat-icon><p style="font-size:15px;"> Customer Details</p>
            </a>

            <a mat-list-item routerLink="/productsreport" routerLinkActive="list-item-active">
                <mat-icon>assignment</mat-icon><p style="font-size:15px;"> Product Report</p>
                </a>
                <a mat-list-item routerLink="/Allcompaniesreport" routerLinkActive="list-item-active">
                    <mat-icon>assignment_turned_in</mat-icon><p style="font-size:15px;"> All Companies Report</p>
                    </a>
                    <a mat-list-item routerLink="/ordersreport" routerLinkActive="list-item-active">
                        <mat-icon>assessment</mat-icon> <p style="font-size:15px;">All Orders Report</p>
                        </a>
                        <a mat-list-item routerLink="/category" routerLinkActive="list-item-active">
                            <mat-icon>launch</mat-icon><p style="font-size:15px;">Add New Category</p>
                            </a>
                            <a mat-list-item routerLink="/categoriesreport" routerLinkActive="list-item-active">
                                <mat-icon>reorder</mat-icon><p style="font-size:15px;">Categories Report</p>
                                </a>
                                <a mat-list-item routerLink="logout" routerLinkActive="list-item-active">
                                    <mat-icon>done_outline</mat-icon><p style="font-size:15px;">Log Out!</p>
                                    </a>
                                   
                                 
                                    <!-- <a mat-list-item routerLink="addingproduct" routerLinkActive="list-item-active">
                                        <mat-icon>done_outline</mat-icon>&&
                                        </a> -->
    <a mat-list-item> </a>
</mat-nav-list>