
<div class="container-fluid page">
    <div class="page__box p:3 mt-2" style="position: fixed;
    min-height: 40px;
    padding-top: 20px;
    width: 1000px;
    margin-top: -19px;"><B style="width:40%;height:30%;size:20%;font-size:19px;padding-left: 400px">Log out!</B></div>
    <br>
    <div class="page__content shadow p-3 position-relative" style="padding-top:50px">
        <div class="page__content-data position-absolute text-center">
            <h1 >You have successfully logged out!</h1>
            <p>sign in again to work with awesome things!</p>
            <div class="next">
                <!-- <button class="btn" (click)="goToVotes()">Check votes</button> -->
                <button type="button" class="button" (click)="buttonclick()">
                <a href="http://localhost:4200/login" style="text-decoration: none;color:black">Sign in</a></button>
                <!-- <i class="fa fa-plus"></i>sign-in</button>    -->
            </div> 
        </div>
    </div>
</div>
